name: Library Management

on:
    push:
    pull_request:

jobs: 
    run-tests:
        strategy: 
            fail-fast: false
            matrix: 
                os: [ubuntu-latest, windows-latest]
                python_version: 
                    - 3.11
        
        - name: test
        runs-on ${{ matrix.os }}

        - name: Checkout code
          uses: actions/checkout@v5

        - name: Set up Python 3.11
          uses: actions/setup-python@v6
          with:
            python-version 3.13

        - name: Install dependencies
          run: |
            python -m pip install pytest .
            pip install -r requirements.txt


        - name: Run tests
          run: pytest

