name: Library Management

on:
    push:
      branches: [ main ]

jobs: 
    test:
      runs-on: ubuntu-latest
        

      steps:  
        - name: Checkout code
          uses: actions/checkout@v5

        - name: Set up Python 3.13
          uses: actions/setup-python@v6
          with:
            python-version: 3.13

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install pytest pytest-cov
            pip install -r requirements.txt
            npm install

        - name: Install Playwright Browsers
          run: npx playwright install --with-deps

        - name: Initialize database
          run: |
            PYTHONPATH=. python -c "from database import init_database, add_sample_data; init_database(); add_sample_data()"
        
        - name: Start Flask server
          run: |
            nohup python -m app &       # or "flask run --host=0.0.0.0 &"
            sleep 5

        
        - name: Run tests with coverage
          run: |
            PYTHONPATH=. pytest --cov=library_service --cov-report=xml tests/
